<%=model.general.title%>

<table border=1>
<tr>

<%
var fieldname;
for(fieldname in model.fields)
{
 field=model.fields[fieldname];
 %><td><%=field.general.title%></td><% 
}
%>
<%if(!vars.nolinks){%>
<td> &nbsp; <a href="/<%=model.general.urlprefix+model.pages.add.pageurl%>">add</a></td> 
<%}%>
</tr>

<?
for(var i=0,l=<%=cursor_name%>.length,row;i<l;i++)
{
 row=<%=cursor_name%>[i];
?>
<tr>
<%
for(fieldname in model.fields)
{
 field=model.fields[fieldname];
 // show field only if it is avlible for list
 
 %><td><?
  if(row[<%=JSON.stringify(fieldname) %>])
  {
   // here should go iknput templates, the folowing is a quick hack:
   <%
   if(fieldname=='_id')
   {
    %>
    echo +=this.htmlencode(row[<%=JSON.stringify(fieldname) %>].toHexString());
    <%
   }
   else
   {
    %>
    if(row[<%=JSON.stringify(fieldname) %>].filename)
     echo +=this.htmlencode(row[<%=JSON.stringify(fieldname) %>].filename);
    else if(row[<%=JSON.stringify(fieldname) %>].id&&row[<%=JSON.stringify(fieldname) %>].toHexString)
     echo +=this.htmlencode(row[<%=JSON.stringify(fieldname) %>].toHexString());
    else if(typeof row[<%=JSON.stringify(fieldname) %>]==='object')
     echo +=this.htmlencode(app.sys.inspect(row[<%=JSON.stringify(fieldname) %>]));
    else
     echo +=this.htmlencode(row[<%=JSON.stringify(fieldname) %>]);
    <%
   }
   %>
  }
  else
   echo +="&nbsp;";
 ?></td><% 
}
%>
<%if(!vars.nolinks){%>
<td>
&nbsp; 
<a href="/<%=model.general.urlprefix+model.pages.edit.pageurl%>?_id=<?=row['_id'].toHexString()?>">edit</a>
&nbsp; 
<a href="/<%=model.general.urlprefix+model.pages.del.pageurl%>?_id=<?=row['_id'].toHexString()?>">delete</a>
&nbsp; 
</td>
<%}%>
</tr>
<?
}
?>

</table>